/*基本样式重写*/
* {
    word-wrap: break-word
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0
}

ul, ol, dl {
    list-style-type: none
}

html, body {
    *position: static
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body, th, td, button, input, select, textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

body {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    outline: none;
    color: #333;
}

a.ie6:hover {
    zoom: 1;
}

a:focus, a:hover, a:active {
    outline: none;
}

sub, sup {
    vertical-align: baseline
}

strong {
    font-weight: inherit;
}

.ft{
    float: left;
}

.fr{
    float: right;
}

.mb20{
    margin-bottom: 20px;
}

.mt10{
    margin-top: 10px;
}

.ml25{
    margin-left: 25px;
}

.mr25{
    margin-right: 25px;
}

.pd10{
    padding-bottom: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
}
/*重写结束*/

/*背景颜色*/
.bg-color {
    background-color: #f2f2f2;
}

/*头部公共样式*/
.bg-white {
    background-color: #fff;
}

.index-header {
    height: 108px;
    border-bottom: 2px solid #ff4f3f;
}

.icon-logo {
    display: inline-block;
    width: 332px;
    height: 108px;
    line-height: 108px;
    text-align: right;
    font-size: 18px;
    color: #4c4c4c;
    background: url("../image/logo.png") no-repeat 22px center;
}

.header-topnav {
    height: 108px;
    line-height: 108px;
    font-size: 16px;
    color: #454e5d;
}

.header-topnav span {
    margin: 0 5px;
}

.topnav-news {
    position: relative;
    margin: 0 8px;
}

.topnav-news strong {
    position: absolute;
    top: -15px;
    right: -17px;
    display: block;
    background-color: #ff4f3f;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/*头部公共样式结束*/

/*底部公共样式*/
.index-footer {
    margin-top: 100px;
    height: 150px;
    background-color: #454e5d;
}

.index-footer-text {
    color: #a0a6b1;
    font-size: 16px;
    padding-top: 50px;
}

.index-footer p {
    margin-top: 10px;
}

.index-footer-text a {
    color: #a0a6b1;
}

.index-footer-text span {
    margin: 0 5px;
}

/*底部公共样式结束*/

/*左边公共导航部分*/
.index-content {
    margin-top: 20px;
}

.index-conleft {
    background-color: #454e5d;
    border-radius: 5px 5px 0 0;
}

.contleft-top {
    padding-top: 38px;
}

.people-info {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
}

.people-info strong {
    color: #999;
}

.icon-xm, .icon-zw, .icon-sj, .icon-n1, .icon-n2, .icon-n3, .icon-n4, .icon-n5, .icon-n6, .icon-n7, .icon-n8 {
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-xm, .icon-zw, .icon-sj {
    width: 20px;
    margin-right: 10px;
    background: url("../image/icon-index1.png");
    vertical-align: middle;
}

.icon-xm {
    height: 18px;
    background-position: 1px -21px;
}

.icon-zw {
    height: 14px;
    background-position: left bottom;
}

.icon-sj {
    height: 19px;
    background-position: 3px top;
}

.conleft-nav {
    margin-top: 30px;
}

.conleft-nav a {
    display: block;
    height: 75px;
    line-height: 75px;
    color: #999;
    font-size: 20px;
}

.conleft-nav > a:active, .conleft-nav > a:hover {
    background-color: #ff4f3f;
    color: #fff;
}

#index .a-index, #courseGL .a-courseGL, #Lesson .a-Lesson,
#plan .a-plan, #reflectIndex .a-reflectIndex, #AdminClass .a-AdminClass {
    display: block;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    background-color: #ff4f3f;
    color: #fff;
}

.icon-n1, .icon-n2, .icon-n3, .icon-n4, .icon-n5, .icon-n6, .icon-n7, .icon-n8 {
    width: 26px;
    margin-right: 5px;
    background: url("../image/icon-index2.png");
    vertical-align: -4px;
}

.icon-n1 {
    height: 25px;
    background-position: 0 -141px;
}

.icon-n2 {
    height: 26px;
    background-position: 0 -91px;
}

.icon-n3 {
    height: 25px;
    background-position: 0 -116px;
}

.icon-n4 {
    height: 22px;
    background-position: 0 -68px;
}

.icon-n5 {
    height: 23px;
    background-position: 0 -22px;
}

.icon-n6 {
    height: 28px;
    background-position: 0 bottom;
}

.icon-n7 {
    height: 24px;
    background-position: 0 -45px;
}

.icon-n8 {
    height: 22px;
    background-position: 0 top;
}

/*左边公共部分结束*/
