/*模块标题*/
.index-conright h3 {
    height: 59px;
    line-height: 60px;
    padding-left: 30px;
    border-bottom: 1px solid #dadcdf;
    font-size: 20px;
    color: #ff4f3f;
}

.icon-kb,.icon-kc{
    width: 24px;
    margin-right: 10px;
    display:inline-block;
    vertical-align: middle;
    background: url("../image/icon-index3.png") no-repeat;
}

.icon-kb{
    height: 22px;
    background-position: 0 top;
}

.icon-kc{
    height: 23px;
    background-position:0 bottom;
}
/*模块标题结束*/

/*我的课程表*/
.contmykb{
    margin-bottom: 10px;
}

.contmykb-cont{
    padding: 20px 20px 30px;
}

.contmykb-cont table{
    width: 100%;
    border: 5px solid #f2f2f2;
    border-radius: 5px;
}

/*我的课程*/
.contmykc{

}