/*模块标题*/
.index-conright h3 {
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    font-size: 20px;
    color: #ff4f3f;
}

.icon-kb, .icon-kc {
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url("../image/icon-index3.png") no-repeat;
}

.contmykb h3 a {
    float: right;
    margin-right: 30px;
    font-size: 16px;
    color: #ccc;
}

.contmykb-cont, .contmykc-cont, .courseGL-tab, .GLInfo-content {
    border-top: 1px solid #f2f2f2;
}

.icon-kb {
    height: 22px;
    background-position: 0 top;
}

.icon-kc {
    height: 23px;
    background-position: 0 bottom;
}

/*模块标题结束*/

/*我的课程表*/
.contmykb {
    margin-bottom: 10px;
}

.contmykb-cont,.plan-daily-table {
    padding: 20px 20px 30px;
}

.contmykb-cont table{
    width: 100%;
    border: 5px solid #f2f2f2;
    border-radius: 5px;
    border-collapse: inherit;
}

/*表格宽度及内边框*/
.w80 {
    width: 80px;
    border-bottom: 1px solid #f2f2f2;
}

.w135 {
    width: 135px;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.w165{
    width: 165px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #f2f2f2;
}

.w635{
    width: 635px;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.w635 p{
    padding: 10px;
}

.contmykb-cont th ,.plan-daily-table th{
    height: 55px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}

.contmykb-cont th.active {
    color: #ff4f3f;
}

.contmykb-cont th span {
    display: block;
}

.contmykb-cont tr td:first-child ,.plan-daily-table tr td:first-child{
    padding: 0;
    text-align: center;
    cursor: default;
}

.contmykb-cont td ,.plan-daily-table td{
    padding: 5px 0 5px 15px;
}

.contmykb-cont td span ,.plan-daily-table td span{
    color: #999;
}

.contmykb-cont td strong ,.plan-daily-table td strong{
    display: block;
    font-weight: bold;
}

.contmykb-cont th,.plan-daily-table th {
    border-bottom: 1px solid #f2f2f2;
}

/*我的课程*/
.contmykc-cont {
    padding-bottom: 10px;
}

.contmykc-btn-box {
    padding: 10px 25px;
    overflow: hidden;
}

.contmykc-btn a {
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.btn-l {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    vertical-align: middle;
}

.btn-s {
    width: 60px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    vertical-align: middle;
}

.btn-bg454e5d {
    background-color: #454e5d;
    border-bottom: 2px solid #454edd;
}

.btn-bgff4f3f {
    background-color: #ff4f3f;
    border-bottom: 2px solid #e23f30;
}

.contmykc-slider {
    padding: 0 20px;
    position: relative;
}

.contmykc-slider > span {
    width: 46px;
    height: 48px;
    background: url("../image/icon-slider.png") no-repeat;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 60px;
}

.contmykc-slider .mykciconleft {
    left: 0;
    background-position: 0 bottom;
}

.contmykc-slider .mykciconright {
    right: 0;
    background-position: 0 top;
}

.contmykc-courseitem {
    min-height: 240px;
    border: 1px solid #fff;
    padding: 10px;
    color: #999;
    line-height: 26px;
}

.contmykc-courseitem:hover {
    border: 1px solid #f2f2f2;
}

.contmykc-courseitem > a {
    display: block;
    width: 180px;
    height: 130px;
    margin-bottom: 10px;
    background: #e6e6e6;
    border-radius: 3px;
}

.contmykc-courseitem img {
    width: 180px;
}

.contmykc-courseitem strong {
    color: #4c4c4c;
}

.icon-sp, .icon-zy, .icon-wj, .icon-wbk {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../image/icon-index4.png") no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}

.icon-sp {
    background-position: 0 -40px;
}

.icon-zy {
    background-position: 0 -20px;
}

.icon-wbk {
    background-position: 0 bottom;
}

.contmykc-morebtn {
    margin: 20px auto;
    text-align: center;
}

.contmykc-morebtn a {
    color: #999;
    font-size: 16px;
}

/*index结束*/

/*coureseGL开始*/
.courseGL-tab {
    height: 60px;
    line-height: 60px;
}

.courseGL-tab ul {
    float: left;
}

.courseGL-tab ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.courseGL-tab ul li a {
    color: #4c4c4c;
    font-size: 18px;
    display: inline-block;
    width: 100px;
}

.news-liuyan {
    position: relative;
}

.news-liuyan span{
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top:6px;
    right: -20px;
    background-color: #ff4f3f;
    border-radius: 50%;
    display: block;
    color: #fff;
}

.courseGL-tab ul li a.active, .courseGL-tab ul li a:hover {
    display: inline-block;
    width: 100px;
    height: 60px;
    color: #ff4f3f;
    border-bottom: 4px solid #ff4f3f;
}

.courseGL .contmykc-courseitem {
    min-height: 280px;
}

.contmykc-pagenumber {
    margin: 20px 0;
    color: #999;
}

.contmykc-pagenumber a, .contmykc-pagenumber input {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #999;
    color: #999;
    margin-right: 10px;
}

.contmykc-pagenumber a:hover {
    border: 1px solid #ff4f3f;
    color: #ff4f3f;
}

.contmykc-pagenumber a.active {
    background-color: #ff4f3f;
    color: #fff;
    border: 1px solid #ff4f3f;
}

/*courseGLInfo*/
.reflect-nav {
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #4c4c4c;
}

.courseGLInfo-content {
    padding: 10px 25px 0 25px;
}

.GLInfo-contimg {
    position: relative;
    border: 1px solid #fff;
    box-shadow: 0 0 2px #ffe8ef;
    padding: 10px;
}

.GLInfo-contimg div {
    padding-left: 0;
    padding-right: 0;
}

.GLInfo-contimg-left img {
    width: 490px;
}

.GLInfo-contimg-right div img {
    width: 262px;
}

.GLInfo-contimg-rt {
    margin-bottom: 42px;
}

.GLInfo-title {
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    color: #4c4c4c;
    font-size: 18px;
}

.GLInfo-title a {
    color: #ccc;
    font-size: 16px;
}

.GLInfo-title a strong {
    font-size: 20px;
}

.GLInfo-title span {
    display: inline-block;
    width: 5px;
    height: 25px;
    vertical-align: -4px;
    background-color: #ff4f3f;
    margin-right: 10px;
}

.GLInfo-content {
    padding: 30px 50px;
    line-height: 30px;
    font-size: 16px;
}

.GLInfo-content div{
    display: block;
}

.GLInfo-content span {
    display: inline-block;
    float: left;
    width: 80px;
    color: #999;
}

.GLInfo-content strong {
    display: inline-block;
    width: 638px;
}

.btn-kssk {
    width: 140px;
    margin-left: 30px;
}

.btn-kssk i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url("../image/icon-ks.png") no-repeat 0 0;
    margin-right: 18px;
}

/*courseGLWDKC我的课程*/
.courseGLWDKC-content {
    padding: 25px;
}

.courseGLWDKC-content .reflect-nav {
    padding: 0;
}

.courseGLWDKC-content select {
    width: 130px;
    height: 28px;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    color: #4c4c4c;
}

.courseGLWDKC-contimg {
    width: 1060px;
    border: 5px solid #999;
    border-radius: 5px;
}

.courseGLWDKC-contimg img {
    display: block;
    width: 1050px;
}

.contmykc-btn > div > a {
    margin-left: 30px;
}

/*Lesson备课*/
.lessonclass-nav, .lessonsubject-nav {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}

.lessonclass-nav ul, .lessonsubject-nav ul {
    float: left;
}

.red-line {
    border-bottom: 1px solid #ff4f3f;
}

.lessonclass-nav ul li, .lessonsubject-nav ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: -6px;
}

.lessonclass-nav ul li a, .lessonsubject-nav ul li a {
    font-size: 20px;
}

.lessonclass-nav ul li a {
    color: #76c7c0;
}

.lessonsubject-nav ul li a {
    color: #ff4f3f;
}

.lessonclass-nav ul .lessonclass-nav-title {
    width: 160px;
}

.lessonclass-nav ul .lessonclass-nav-title, .lessonsubject-nav ul .lessonsubject-nav-title {
    color: #999;
    background-color: #454e5d;
}

.lessonclass-nav ul .active, .lessonsubject-nav ul .active {
    display: inline-block;
    width: 100px;
    color: #fff;
}

.lessonclass-nav ul .active {
    background-color: #76c7c0;
}

.lessonsubject-nav ul .active {
    background-color: #ff4f3f;
}

/*课程导航结束*/
.lessonsubject-nav input {
    width: 200px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: 2px solid #ff4f3f;
    padding-left: 5px;
}

.lessonsubject-nav .search {
    width: 60px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    background-color: #ff4f3f;
    color: #fff;
    border: none;
    margin-left: -6px;
}

.lessonsubject-nav .search:visited, .lessonsubject-nav .search:active {
    box-shadow: none;
}

.btn-ksbk {
    width: 180px;
    margin-top: 20px;
}

/*开始备课*/
.lessonBK-add div img {
    width: 130px;
    height: 90px;
    display: block;
}

.btn-close {
    width: 20px;
    height: 20px;
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}

.border-top-none{
    border-top: none;
}

/*备课-添加课程*/
.contmykc-courselist .active{
    background: url("../image/Lesson-libg.png") no-repeat 0 0;
    background-size: 200px 238px;
}

/*自定义*/
.lessonSBK-zdy input{
    width: 520px;
    height: 40px;
    margin-bottom: 4px;
    border: 2px #f2f2f2 solid;
    border-radius: 2px;
    padding-left: 5px;
}

.lessonSBK-zdy a{
    margin-left: 10px;
    color: #ff4f3f;
    font-size: 16px;
}

/*添加作业*/
.lessontjkc-zy-a a{
    color: #ff4f3f;
}

.lessontjkc-zy-cont{
    padding: 0 50px;
    height: 680px;
}

.lessontjkc-zy-cont h4{
    font-size: 20px;
}

.lessontjkc-zy-cont p{
    color: #999;
    font-size: 16px;
}

.lessontjkc-zy-cont textarea{
    font-size: 16px;
}

.lessontjkc-zy-cont p b{
    color: #ff4f3f;
}

.lessontjkc-wj{
    height: 700px;
    padding: 30px 50px;
    font-size: 18px;
}

.lessontjkc-wj input{
    border: none;
    background-color: #f2f2f2;
}

/*教学计划*/
.plan-selectbox {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px dashed #e3e3e3;
}

.plan-selectbox select{
    width: 130px;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
    border: 1px solid #e3e3e3;
    padding-left: 5px;
    border-radius: 2px;
    font-size: 16px;
    color: #999;
}

.plan-table .plan-title{
    font-size: 18px;
}

.plan-table tr a{
    color: #ff4f3f;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
}

.plantable-addplan{
    height: 90px;
}

.daily-table-border {
    border: 2px solid #f2f2f2;
    border-radius: 5px;
}

.plan-daily-table table{
    width: 100%;
    border-collapse: inherit;
}

.plan-daily-table ul{
    height: 55px;
    line-height: 55px;
    border-bottom: 2px solid #ff4f3f;
}

.plan-daily-table ul li{
    float: left;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.plan-daily-table ul li a{
    width: 130px;
    display: inline-block;
}

.plan-daily-table .active{
    background-color: #ff4f3f;
    color: #fff;
}

.plan-daily-table table th{
    font-weight: normal;
}

.plan-daily-table table td{
    font-size: 16px;
}

